.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  max-width: 100%;
  border: solid 4px red;
  gap: 1em;
  /* max-height: 100vh; */
}